@import colors
@import prefixes
@import 'components/triangle'

MainColor = #311
SecondaryColorLight = white
SecondaryColor = lighten(MainColor, 95%)
SecondaryColorDark = lighten(MainColor, 92%)
@import basics
body
  font-family 'Roboto', sans-serif
  color MainColor
  section
    float left
    width 100%
    text-align center
  h1
    font-weight 100
    font-size 50px
    text-transform uppercase
  h2
    font-size 80px
    margin-top 60px
    .black-bold
      padding 2px 20px
  a
    color #611
    &:hover
      text-decoration none
  p
    font-size 18px
    font-weight 300
    margin 1.5em 10px
  section:nth-child(2n)
    background MainColor
    p, h1, a
      color SecondaryColor
    .black-bold
      color MainColor
      background SecondaryColor
      margin 0px 0.3em
    p
      line-height 31px
  .black-bold
    background MainColor
    color SecondaryColorLight
    font-family 'Roboto Condensed'
    padding 2px 5px
    font-weight 700
  .step
    transition opacity, 0.8s
    opacity 0
    &.active
      opacity 1
  section.daily
    .svg-container
      position relative
      width 600px
      margin 0px auto
      margin-bottom 90px
      margin-top 40px
      svg
        margin-top 23px
        path
          fill none
          stroke MainColor
          stroke-width 2
        circle
          stroke MainColor
          stroke-width 2
          fill SecondaryColor
      .label
        position absolute
        transform translate(-50%, -50%)
      .label-x
        position absolute
        bottom -33px
        text-align center
        transform translate(-50%, 0%)
        line-height 23px
        font-weight 400
        font-style italic
        span
          font-weight 300
  section.total
    .history-container
      width 100%
      float left
      height 300px
      margin-bottom 50px
      margin-top 40px
    .history
      margin 0px auto
      position relative
      width 600px
      height 285px
      .bar-container
        position absolute
        bottom 0px
        height 100%
        .bar
          position absolute
          background SecondaryColorDark
          left 5px
          width calc(100% - 10px)
          bottom 0px
          border-top-right-radius 2px
          border-top-left-radius 2px
          transition height 0.8s
          .label-y
            position absolute
            top -27px
            width 100%
            font-size 14px
            white-space nowrap
            text-align center
            color SecondaryColorDark
            font-family 'Roboto Condensed'
            font-weight 700
      .label-x
        position absolute
        left 0px
        bottom -28px
        width 100%
        color SecondaryColor
        font-weight 300
        text-align center
  section.panic
    min-height 100vh
    h2
      font-size 38px
      font-weight 300
      .black-bold
        margin 0px 0.2em
        padding 0px 10px
    .list
      float left
      width 100%
      > h2
      > ol
        width 600px
        margin 0px auto
      > ol
        text-align left
        counter-reset list
        margin-top 35px
        li
          list-style none
          position relative
          margin-bottom 1.5em
          &:before
            counter-increment list
            content counter(list, lower-alpha) ") "
            position absolute
            left -1.4em
            font-size 18px
          h3
            margin 0px
            font-size 18px
          p
            font-size 16px
            color desaturate(lighten(MainColor, 40%), 80%)
      .map
        overflow hidden
        position relative
        margin-top 18px
        svg
          fill MainColor
          stroke SecondaryColorDark
        span
          position absolute
          background SecondaryColorLight
          transform translate(-50%, -50%)
          font-family 'Roboto Condensed'
          padding 2px 5px
          font-weight 700
  .shares
    position fixed
    top 0px
    left 0px
    height 60px
    a
      display block
      float left
      width @height
      height @width
      position relative
      transition background 0.2s
      z-index 50
      img
        max-height (@height - 28px)
        max-width (@height - 20px)
        width auto
        height auto
        position absolute
        top 50%
        left 50%
        transform translate(-50%,-50%)
        opacity 0.4
        transition opacity 0.2s
      &:hover
        img
          transform translate(-50%,-50%) // bug in Chrome?
          opacity 1
      &.tw
        margin-left 7px
  .asterisk
    font-size 12px
    position absolute
    top 1px
    right 1px
  .pripic
  .autor
    color lighten(MainColor, 85%) !important
    a
      color @color

  .pripic
    font-size 15px
    margin-top 20px
  .autor
    font-style italic
    text-align left
    margin-top 40px
    font-size 14px
