<section class="ig daily" data-ig="daily">
  <h1><span>Nelegální migranti. Už jsou tady?</span></h1>
  <h2><span class="black-bold">Ne.</span></h2>
  <p>17. června 2015 posílila Policie ČR ochranná opatření proti nelegálním migrantům.</p>
  <p>Od zahájení opatření do konce roku 2016 <a href="http://www.mvcr.cz/migrace/clanek/aktualni-statistiky.aspx" target="blank">zadržela</a> <span class="black-bold">3 781</span> tranzitních migrantů.</p>
  <p>(Jde o v Česku ilegálně se pohybující cizince, kteří cestují do jiné země.)</p>
  <p>Od června 2015 do listopadu 2016 také <a href="http://www.policie.cz/statistiky-kriminalita.aspx" target="_blank">dopadla</a> <span class="black-bold">8 094</span> lidí za výrobu, držení a distribuci drog.</p>
  <p>Pachatelů loupežných přepadení zatkla celkem <span class="black-bold">2 648</span>.</p>
  <p>Také se ukradlo <span class="black-bold">7 293</span> automobilů.</p>
</section>
<section class="ig total" data-ig="total">
  <h1>Už tu byli</h1>
  <p>Celkově policisté kvůli nelegální migraci - včetně cizinců, kteří v Česku např. ilegálně pracují - zadrželi od ledna do září 2016 <span class="black-bold ig">4 146</span> lidí.</p>
  <p>To je o 3055 méně, než ve stejném období roku 2015.</p>
  <div class="history-container">
    <div class="ig history" data-ig="total-history"></div>
  </div>
  <p>V roce 2015, kdy migrační krize vrcholila, zadržela cizinecká policie <span class="black-bold">8 563</span> lidí.</p>
  <p>To je <span class="black-bold ig" data-ig="total-comparison-ratio">3× méně</span> než v roce 2004, kdy bylo také kvůli změnám v legislativě po vstupu do Evropské unie na území ČR <a href="http://www.mvcr.cz/migrace/docDetail.aspx?docid=21620122&amp;doctype=ART" target="_blank" style="color: white !important">zadrženo</a> 27 391 migrantů, převážně z Ukrajiny a Moldavska.</p>
  <p class="ig pripic">* Do roku 2008 se používala jiná definice pro nelegální migraci. Český statistický úřad proto <a href="https://www.czso.cz/csu/cizinci/cizinci-nelegalni-migrace-metodika" style="color: white !important">upozorňuje</a>, že statistiky před rokem 2008 a po něm nejsou přímo srovnatelné. Nicméně ministerstvo vnitra je při sledování trendů <a href="http://www.mvcr.cz/migrace/ViewFile.aspx?docid=21359986" style="color: white !important">používá</a>.</p>
  <p class="autor">Autoři: Petr Kočí, Marcel Šulek, Jan Cibulka, Michal Zlatkovský</p>
</section>
<div class='shares'>
  <a class='share cro' title='Zpět na uprchlický speciál ČRo' href='http://www.rozhlas.cz/zpravy/uprchlici'><img src='https://samizdat.cz/data/uz-jsou-tady/www/img/cro.svg'></a>
  <a class='share fb' title='Sdílet na Facebooku' target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=http://www.rozhlas.cz/zpravy/data/_zprava/kolik-migrantu-zadrzela-v-uplynulem-tydnu-policie-zjistite-z-grafu-ktery-se-kazdy-den-aktualizuje--1560340'><img src='https://samizdat.cz/data/uz-jsou-tady/www/img/facebook.svg'></a>
  <a class='share tw' title='Sdílet na Twitteru' target='_blank' href='https://twitter.com/home?status=http://www.rozhlas.cz/zpravy/data/_zprava/kolik-migrantu-zadrzela-v-uplynulem-tydnu-policie-zjistite-z-grafu-ktery-se-kazdy-den-aktualizuje--1560340 -- @dataRozhlas'><img src='https://samizdat.cz/data/uz-jsou-tady/www/img/twitter.svg'></a>
</div>
